.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #282c34;
}

.first {
	  font-size: 48px;
  color: white;
  font-weight: 700;
  text-align: center;
  /* background: url("../assets/grass_day.png"); */
}